body {
    background-color: var(--tg-theme-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 1.5%;
}

.card {
    overflow: hidden;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
}

.card-title {
    color: var(--tg-theme-text-color);
    font-size: 70%;
    margin: 0 5% 10% 5%;
}